@import url(./fonts.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner_wrapper{
    width: 100%;
    height: 100%;
    position: fixed;
    background-image: url('../Assets/background-full/4.png');
    background-size: cover;
}

.close_restore_buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 31px;
    margin-left: 24px;
    margin-right: 21px;

}

.close_restore_buttons a{
    font-family: "SFProTextRegular";
    font-size: 13px;
    line-height: 41px;
    letter-spacing: -0.216667px;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

.cross{
    margin-bottom: -4px;
}

.title{
    margin-top: 145px;
    margin-bottom: 30px;
}

h1{
    font-family: "SFProDisplayBold";
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

h1[data-localization='ru'],
h1[data-localization='fr']{
    font-size: 28px;
}

.content{
    display: flex;
    justify-content: center;
}

.content_container div{
    display: flex;
}
.content div span{
    display: flex;
    margin-right: 7px;
}
.content div span img{
    width: 22px;
}

.content p{
    font-family: "SFProDisplayRefular";
    font-size: 17px;
    line-height: 30px;
    color: #FFFFFF;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.684495);
}

.subscribe_place_wrapper{
    margin: 52px 0 23px 0;
    display: flex;
    justify-content: center;
}

.subscribe_button{
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 133px;
    height: 164px;
    mix-blend-mode: normal;
    opacity: 0.25;
    cursor: pointer;
}

.sub_left_btn{
    background-image: url("../Assets/shape-1.svg");
    background-size: cover;
}
.sub_right_btn{
    background-image: url("../Assets/shape-2.svg");
    background-size: cover;
}

.subscribe_button:first-child{
    margin-right: 22px;
}

.subscribe_button.active{
    opacity: 1;
    scale: 1.1;
}

.sub_top_text{
    font-family: "SFProDisplayBold";
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 24px;
    margin-bottom: 16px;
}
.sub_middle_text{
    font-family: "SFProDisplayRefular";
    font-style: normal;
    font-weight: 400;
    font-size: 15.4px;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
}

.sub_highlight{
    font-family: "SFProDisplayBold";
    font-size: 13.9986px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    width: 139px;
    margin-left: -3px;
    background: #495795;
    margin-top: 16px;
    margin-bottom: 11px;
    padding: 2px 0;
}
.sub_bottom_text{
    font-family: "SFProDisplayRefular";
    font-size: 11.9988px;
    line-height: 14px;
    text-align: center;
    color: #FFFFFF;
}

.sale{
    font-family: "SFProDisplayBold";
    position: absolute;
    right: 0;
    top: 0;
    background-color: #DB0000;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button_wrapper{
    display: flex;
    justify-content: center;
}

.button{
    font-family: "SFProDisplayBold";
    background: linear-gradient(270deg, #1987FF 0%, #19CCFF 100%);
    border-radius: 30px;
    padding: 18px 104px;
    border: none;
    font-size: 17px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
}

.banner_footer{
    margin-top: 16px;
}

.footer_text{
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    text-align: center;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
}

.footer_links{
    display: flex;
    justify-content: space-between;
    margin-left: 27px;
    margin-right: 24px;
    margin-top: 17px;
}

.footer_links a{
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    text-decoration-line: underline;
    color: #BDC0D0;
}



@media screen and (max-width: 414px) and (max-height: 736px){
    .banner_wrapper{
        max-width: 414px;
        max-height: 736px;
    }
    .content_body .title{
        margin-top: 80px;
    }
}

@media screen and (max-width: 390px) and (max-height: 844px){
    .banner_wrapper{
        max-width: 390px;
        max-height: 844px;
    }
    .banner_footer{
        margin-top: 40px;
    }
}

@media screen and (max-width: 375px) and (max-height: 812px){
    .banner_wrapper{
        max-width: 375px;
        max-height: 812px;
    }
}

@media screen and (max-width: 375px) and (max-height: 667px){
    .banner_wrapper{
        max-width: 375px;
        max-height: 667px;
    }
    .close_restore_buttons{
        margin-top: 15px;
    }
    .content_body .title{
        margin-top: 60px;
        margin-bottom: 20px;
    }
    .subscribe_place_wrapper {
        margin: 30px 0 23px 0;
    }
}

@media screen and (max-width: 321px) and (max-height: 569px){
    .banner_wrapper{
        max-width: 320px;
        max-height: 568px;
    }
    .close_restore_buttons{
        margin-top: 0px;
    }
    .content_body .title{
        margin-top: 30px;
        margin-bottom: 10px;
    }
    h1{
        font-size: 24px;
        line-height: 28px;
    }
    h1[data-localization='ru'],
    h1[data-localization='fr']{
        font-size: 24px;
    }
    .content p {
        font-size: 15px;
    }
    .subscribe_place_wrapper {
        margin: 30px 0 20px 0;
    }
}